#gog-table {
  user-select: none;
}

#gog-table .gog-grid {
  border: medium ridge;
  border-radius: 1vmin;
  display: grid;
  grid-gap: 1px;
  margin-top: 1vmin;
  padding: 1vmin;
}

#gog-table .gog-grid.grid {
  grid-gap: 1vmin;
  grid-template: auto/repeat(auto-fit, minmax(45vmin, 1fr));
}
