<div class="p-component" id="gog-table">
  <div class="p-ai-center p-d-flex">
    <Toolbar class="p-mr-auto">
      <template #left>
        <InputNumber v-model="page" :format="false" :min="1" :max="totalPages" />
        <span class="p-ml-1">/ {{totalPages}}</span>
      </template>
    </Toolbar>
    <SelectButton optionValue="card" v-model="card" :options="cardOptions">
      <template #option="card">
        <i :class="card.option.class"></i>
      </template>
    </SelectButton>
  </div>
  <div :class="{'gog-grid':true,grid:this.card}">
    <GogCard v-for="product in products" :card="card" :key="product._embedded.product.id" :product="product" @swap="swap"></GogCard>
  </div>
</div>
