#gog-card {
  background-size: 100% 100%;
  border: thin outset;
  cursor: grab;
  padding: 1vmin;
}

#gog-card .description {
  border: thin inset;
  border-radius: 1vmin;
  margin-top: 1vmin;
  overflow: auto;
  padding: 1vmin;
}

#gog-card .description table {
  border-collapse: collapse;
  width: 100%;
}

#gog-card .description td,
#gog-card .description th {
  border: thin solid;
}

#gog-card .description.hidden {
  display: none;
}

#gog-card .header {
  display: flex;
}

#gog-card .header h1 {
  margin: auto;
  overflow: hidden;
  padding-left: 1vmin;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#gog-card .header img {
  cursor: pointer;
  flex: 0 0 62px;
  float: left;
}

#gog-card.card {
  border-radius: 1vmin;
  box-shadow: 0 0 0.5vmin;
}

#gog-card.card .description th {
  text-align: left;
}

#gog-card.drop {
  box-shadow: 0 0 1vmin 1vmin var(--purple-500);
  z-index: 1;
}

#gog-card:not(.card) .description td {
  text-align: center;
}

#gog-card:not(.card):first-child {
  border-top-left-radius: 1vmin;
  border-top-right-radius: 1vmin;
}

#gog-card:not(.card):last-child {
  border-bottom-left-radius: 1vmin;
  border-bottom-right-radius: 1vmin;
}
