<div id="gog-card" draggable="true" :class="{card:this.card}" :style="{'background-image':'url('+product._links.backgroundImage.href+')'}" @dragleave="dragleave($event)" @dragover="dragover($event)" @dragstart="dragstart($event)" @drop="drop($event)">
  <div class="header">
    <img :src="product._links.icon?product._links.icon.href:'https://www.gog.com/apple-touch-icon-72x72.png'" @click="click" />
    <h1>{{product._embedded.product.title}}</h1>
  </div>
  <div class="description" v-show="show">
    <table>
      <tbody v-if="card">
        <tr v-for="column in columns">
          <th>{{column}}</th>
          <td>{{product._embedded.product[column]}}</td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr>
          <th v-for="column in columns">{{column}}</th>
        </tr>
        <tr>
          <td v-for="column in columns">{{product._embedded.product[column]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
